.my-form-body {
  background-color: #edd5ff;
}

.my-form {
  margin-left: 50px;
}

.validate-message {
  font-size: 10px;
  color: red;
}

.my-button {
  background-color: blueviolet;
  border: none;
  text-align: center;
  font-size: 20px;
  margin-left: 587px;
  cursor: pointer;
}
